@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
}
button{
  background-color: transparent;
  border: none;
  outline: none;
}
body{
  font-family: "Josefin Sans", sans-serif;

}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.arrow-up {
  padding: 15px;
  background-color: #ffaf19;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
}
.arrow-up svg {
  color: #fff;
}
