footer {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  background-color: #000;
  padding: 2.5rem 0;
  font-size: 17px;
  .footer-top {
    margin-left: 0;
    .img-select {
      img {
        width: 100px;
      }
      .ant-select {
        margin-top: 15px;
        width: 70px !important;
        height: 100px;
        .ant-select-selector {
          color: #fff;
          border: none;
          background-color: #2d2d2d;
          border-radius: 0;
          height: 100%;
          .ant-select-selection-item {
            color: #fff;
            display: flex;
            align-items: center;
          }
        }
        .ant-select-arrow {
          .anticon {
            color: #fff;
          }
        }
      }
    }
    div {
      padding: 1.5rem 0;
    }
    p {
      color: #a4a4a4;
    }
    ul {
      padding: 0;
      li {
        a {
          color: #a4a4a4;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .footer-bottom {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    p {
      color: #c9c9c9;
    }
    div {
      display: flex;
      column-gap: 30px;
      a {
        color: #fff;
      }
    }
  }
}
