//HEADER

header {
  background-color: #000;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  width: 100%;
  z-index: 9999;
  nav {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      img {
        width: 70px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
      margin: 30px 0;
      li {
        a {
          color: #fff;
          &.active {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              height: 2px;
              width: 100%;
              background-color: #ffaf19;
              bottom: -10px;
              left: 0;
            }
          }
        }
      }
    }
    .ant-space {
      color: #fff;
      cursor: pointer;
    }
    .header-right {
      display: flex;
      align-items: center;
      column-gap: 20px;
      .user-log-out {
        svg {
          color: #ffaf19;
          font-size: 24px;
        }
      }
      .sign-in-btn {
        color: #ffaf19;
      }
      .ant-select {
        letter-spacing: 2px;
        width: 80px;
        height: 100%;
        .ant-select-selector {
          color: #fff;
          border: none;
          background-color: #2d2d2d;
          border-radius: 0;
          height: 100%;
          .ant-select-selection-item {
            font-weight: 500;
            color: #fff;
            display: flex;
            align-items: center;
          }
        }
        .ant-select-arrow {
          .anticon {
            color: #fff;
          }
        }
      }
      .menu-btn {
        background-color: transparent;
        outline: none;
        border: none;
        display: none;
        svg {
          color: #ffaf19;
          font-size: 24px;
        }
      }
    }
  }
}

// ANTD DROPDOWN

.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 28px;
  }
}

// MENU CONTENT

#menu {
  position: fixed;
  background-color: rgba($color: #000, $alpha: 0.9);
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 2000;
  overflow: hidden;
  width: 0;
  transition: all 0.5s ease-in-out;
  .menu-content {
    .close-btn {
      position: absolute;
      top: 3%;
      right: 3%;
      border: none;
      outline: none;
      background-color: transparent;
      svg {
        color: #ffaf19;
        font-size: 24px;
      }
    }
    .menu-content-items {
      font-size: 19px;
      hr {
        color: #fff;
      }
      li {
        color: #fff;
        svg {
          font-size: 16px;
        }
        a {
          color: #fff;
        }
        ul {
          margin-left: 3%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          height: 0;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    nav {
      ul {
        display: none;
      }
      .header-right {
        .menu-btn {
          display: block;
        }
      }
    }
  }
}
