.home-hero-banner {
  height: 100vh;
  background-image: url("../../../src/assets/img/homePage/hero-campger-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .hero-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  color: white;
  h4 {
    font-size: 43px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
  }
  h1 {
    font-size: 83px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;
  }
  .discover-link {
    padding: 15px 30px;
    background-color: #ffaf19;
    color: black;
    font-weight: 500;
    font-size: 18px;
    &:hover {
      color: white;
    }
  }
}

// search section
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  form {
    position: absolute;
    top: -60px;
    padding: 25px 50px;
    display: flex;
    column-gap: 90px;
    border-radius: 40px;
    background-color: #f3f3f3;
    .title {
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      label {
        font-size: 18px;
        font-weight: 500;
      }
      input {
        // text-indent: 10px;
        outline: none;
      }
      input,
      select {
        border: none;
        padding: 8px 0;
        background-color: #f3f3f3;
      }
      select {
        width: 280px;
      }
    }
    button {
      padding: 10px 30px;
      background-color: #ffaf19;
      border: none;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

#information-cards {
  padding: 170px 0;
  background-image: url("../../../src/assets/img/homePage/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .information-cards {
    .card {
      background-color: transparent;
// padding: 20px;
border: none;
      .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 130px;
          width: 130px;
        }
      }
      .card-content{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h4{
          font-size: 22px;
        }
        p{
          color: #717171;
          font-size: 19px;
        }
      }
    }
  }
}
