nav {
  padding: 80px 0;
  background-color: white;
  position: absolute;
  z-index: 8888;
  width: 300px;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    li {
      a {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: #717171;
        height: 20px;
        width: 180px;
        padding: 20px;
        &.active {
          background-color: #4b49ac;
          border-radius: 10px;
          color: white;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
