.admin-header {
  background-color: #fff;
  padding: 15px 30px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  .logo {
    width: 300px;
    img {
      width: 170px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    width: 100%;
    .navbar-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    img {
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
    button {
      svg {
        width: 50px;
        font-size: 24px;
      }
    }
    input {
      border: none;
      padding: 13px 0;
      width: 300px;
      outline: none;
    }
    .search-btn {
      svg {
        width: 30px;
        font-size: 26px;
        color: #5b5b5b;
      }
    }
  }
}
a {
  svg {
    color: #5898f9;
    font-size: 20px;
    margin-right: 7px;
  }
}
.todo-side-bar {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  position: fixed;
  width: 350px;
  top: 90px;
  right: -350px;
  border: 1px solid #ced4da;
  padding: 20px;
  z-index: 90;
  .todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #284775;
    margin-bottom: 20px;
    button {
      svg {
        font-size: 18px;
        color: #5b5b5b;
      }
    }
  }
  .add-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    input {
      background-color: transparent;
      border: none;
      outline: none;
    }
    button {
      background-color: #403e92;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
    }
  }
  ul {
    padding: 0;
    li {
      border: 1px solid #ced4da;
      border-radius: 7px;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      input {
        width: 50px;
        accent-color: #403e92;
        transform: scale(1.5);
      }
      button {
        svg {
          color: #0d6efd;
          font-size: 18px;
        }
      }
    }
  }
}
.sidebar-nav {
  padding: 80px 0;
  background-color: white;
  //   position: absolute;
  //   z-index: 8888;
  width: 300px;
  //   height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    li {
      a {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: #717171;
        height: 20px;
        width: 180px;
        padding: 20px;
        &.active {
          background-color: #4b49ac;
          border-radius: 10px;
          color: white;
          svg {
            color: white;
          }
        }
        p {
          margin-bottom: 0;
        }
        svg {
          color: #717171;
        }
      }
    }
  }
}
