#hero-banner-details {
  background-image: url("../../../src/assets/img/about/top-about-scaled.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-banner-details {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
  }
}
.details-img {
  padding: 50px 0;

  img {
    height: 600px;
    width: 90%;
    border-radius: 50px;
    object-fit: cover;
  }
}

#news-info {
  .news-container {
    width: 65%;
    .news-info {
      width: 100%;
      p {
        color: #717171;
        line-height: 30px;
        font-size: 16px;
      }
      h4 {
        padding-bottom: 20px;
        font-weight: 700;
      }
      .important-info {
        min-height: 130px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        padding:  20px;
        margin: 30px 0;
        border-left: 2px solid #7777;
        p {
          color: #ffb156;
          margin-bottom: 0;
          font-size: 19px;
          font-weight: 500;
        }
      }
    }
  }
}

#detail-cards {
  padding: 30px;
  .detail-cards {
    img {
      max-width: 100%;
      min-height: 500px;
      border-radius: 10px;
    }
  }
  #info {
    width: 65%;
    .info {
      width: 100%;
    }
  }
}

#author {
  padding: 80px 0;
  .author {
    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      .line {
        width: 2px;
        height: 15px;
        background-color: #717171;
      }
      p {
        margin-bottom: 0;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        span {
          padding: 0 10px;
          font-size: 24px;
          font-weight: 700;
        }
      }
      .icons {
        font-size: 20px;
        display: flex;
        column-gap: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .author-content {
      border-top: 1px solid #7777;
      border-bottom: 1px solid #7777;
      padding-bottom: 50px;
      margin: 80px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      position: relative;
      .author-img {
        height: 80px;
        width: 80px;
        position: absolute;
        top: calc(0% - 40px);
        img {
          border-radius: 50%;
        }
      }
      .author-info {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 65%;
        .title {
          font-size: 14px;
          font-style: italic;
          color: #717171;
        }
        h3 {
          font-size: 26px;
        }
        .info {
          color: #717171;
        }
      }
    }
    #prev-next {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: #717171;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        column-gap: 15px;
        letter-spacing: 1px;
      }
    }
  }
}

#comment {
    padding: 50px;
  .comment {
    h3 {
      padding-bottom: 50px;
    }
    form {
      .name-email {
        display: flex;
        column-gap: 20px;
      }
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #717171;
        outline: none;
        margin-bottom: 20px;

      }
      .form-group {
        p {
          margin-bottom: 0;
        }
        input:not(input[type="checkbox"]) {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px;
          border: none;
          border-bottom: 1px solid #717171;
          outline: none;
        }
        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
      .button {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        button {
          padding: 10px 25px;
          background-color: #ffb156;
          border: none;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }
  }
}
