.table-container {
  .ant-table-thead {
    tr {
      th {
        background-color: #4b49ac !important;
        color: white;
        text-align: center;
      }
    }
  }
  .ant-table-tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
